body{
  background-color: #eefdfc;
}

.header-background-img {
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 65%);
    mask-image: linear-gradient(to top, transparent 5%, black 65%);
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: -1; 
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}
.header {
  margin: 0;
  margin-top: 27vw;
  text-align: center; 
  padding: 0;
  max-height: 469px;
}

.iphone-img{
  display: none;
}

.header-content{
  width: 100vw;
  background-color: rgba(0, 255, 247, .50);
  padding: 2vw;
  margin: 0;
  border-radius: 0;
  text-align: center;
}

.header-content .display-2 {
  color: #f5d417;
  text-shadow: rgb(0, 0, 0) 2px 2px 6px;
}

.header-content .display-5 {
  color: #eefdfc;
  text-shadow: rgb(0, 0, 0) 2px 2px 6px;
}

.header-content p {
  color: #ffffff;
  text-shadow: rgb(0, 0, 0) 2px 2px 6px;
}

.badges {
  max-width: 60px;
  width: 8vw;
  margin: 10px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.imgBox {
  height: 224px;
}

.card-body {
  height: 127px;
}


@media screen and (min-width: 992px) {

  .header {
    margin-top: 10vw;
  }

  .iphone-img{
    display: block;
    display: inline-block;
    max-width: 300px;    
    transform: rotate(-20deg);
    margin-top: -180px;
    margin-right: 50px;
  }
  
  .header-content{
    display: inline-block;
    width: 55vw;
    border-radius: 12px;
    max-width: 714px;
  }

  .page-content {
    width: 100vw;
    margin-top: 35px;
  }
  
  .header-background-img {
    max-width: 1400px;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
  }
}

@media screen and (min-width: 1400px) {

  .iphone-img {
    right: 800px;
  }
  .header {
    position: static;
    margin-top: 140px;
  }
}
